# Copyright (C) 2015 The Gravitee team (http://gravitee.io)
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#         http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.18.0
    gravitee.io/operator.version: 4.9.0-rc
  name: subscriptions.gravitee.io
spec:
  group: gravitee.io
  names:
    kind: Subscription
    listKind: SubscriptionList
    plural: subscriptions
    singular: subscription
  scope: Namespaced
  versions:
    - additionalPrinterColumns:
        - description: The date from when the subscription starts
          jsonPath: .status.startedAt
          name: Started at
          type: string
        - description: The date when the subscription expires
          jsonPath: .status.endingAt
          name: Ending at
          type: string
      name: v1alpha1
      schema:
        openAPIV3Schema:
          properties:
            apiVersion:
              description: APIVersion defines the versioned schema of this representation of
                an object.
              type: string
            kind:
              description: Kind is a string value representing the REST resource this object
                represents.
              type: string
            metadata:
              type: object
            spec:
              properties:
                api:
                  properties:
                    kind:
                      type: string
                    name:
                      type: string
                    namespace:
                      type: string
                  required:
                    - name
                  type: object
                application:
                  properties:
                    kind:
                      type: string
                    name:
                      type: string
                    namespace:
                      type: string
                  required:
                    - name
                  type: object
                endingAt:
                  format: date-time
                  type: string
                plan:
                  type: string
              required:
                - api
                - application
                - plan
              type: object
            status:
              properties:
                conditions:
                  default: []
                  description: Conditions describe the current conditions of the Subscription.
                  items:
                    description: Condition contains details for one aspect of the current state of
                      this API Resource.
                    properties:
                      lastTransitionTime:
                        description: lastTransitionTime is the last time the condition transitioned from
                          one status to another.
                        format: date-time
                        type: string
                      message:
                        description: message is a human readable message indicating details about the
                          transition.
                        maxLength: 32768
                        type: string
                      observedGeneration:
                        description: observedGeneration represents the .metadata.generation that the
                          condition was set based upon.
                        format: int64
                        minimum: 0
                        type: integer
                      reason:
                        description: reason contains a programmatic identifier indicating the reason for
                          the condition's last transition.
                        maxLength: 1024
                        minLength: 1
                        pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                        type: string
                      status:
                        description: status of the condition, one of True, False, Unknown.
                        enum:
                          - "True"
                          - "False"
                          - Unknown
                        type: string
                      type:
                        description: type of condition in CamelCase or in foo.example.com/CamelCase.
                        maxLength: 316
                        pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                        type: string
                    required:
                      - lastTransitionTime
                      - message
                      - reason
                      - status
                      - type
                    type: object
                  maxItems: 8
                  type: array
                  x-kubernetes-list-map-keys:
                    - type
                  x-kubernetes-list-type: map
                endingAt:
                  description: The expiry date for the subscription (no date means no expiry)
                  type: string
                id:
                  description: Subscription ID
                  type: string
                processingStatus:
                  description: This value is `Completed` if the sync with APIM succeeded, Failed
                    otherwise. *** DEPRECATED ***
                  type: string
                startedAt:
                  description: When the subscription was started and made available
                  type: string
              type: object
          type: object
      served: true
      storage: true
      subresources:
        status: {}
