# Copyright (C) 2015 The Gravitee team (http://gravitee.io)
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#         http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ .Values.manager.configMap.name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/name: {{ template "helm.name" . }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
  annotations:
    meta.helm.sh/release-name: {{ .Release.Name }}
    meta.helm.sh/release-namespace: {{ .Release.Namespace }}
data:
  {{- if not .Values.manager.scope.cluster }}
  NAMESPACE: {{ .Release.Namespace }}
  {{- else }}
  NAMESPACE: {{ template "manager.Namespaces" . }}
  {{- end }}
  {{- if .Values.manager.applyCRDs }}
  APPLY_CRDS: "true"
  {{- end }}
  ENABLE_LEADER_ELECTION: "true"
  RECONCILE_STRATEGY: {{ .Values.manager.reconcile.strategy }}
  {{- if not .Values.manager.logs.json }}
  DEV_MODE: "true"
  {{- end }}
  LOGS_FORMAT: {{ .Values.manager.logs.format }}
  LOGS_LEVEL: {{ .Values.manager.logs.level }}
  LOGS_LEVEL_CASE: {{ .Values.manager.logs.levelCase }}
  LOGS_TIMESTAMP_FIELD: {{ .Values.manager.logs.timestamp.field }}
  LOGS_TIMESTAMP_FORMAT: {{ .Values.manager.logs.timestamp.format }}
  PROBES_PORT: {{ quote .Values.manager.probes.port }}
  {{- if .Values.manager.metrics.enabled }}
  ENABLE_METRICS: "true"
  METRICS_PORT: {{ quote .Values.manager.metrics.port }}
  {{- if .Values.manager.metrics.secured }}
  SECURE_METRICS: "true"
  {{- if .Values.manager.metrics.certDir }}
  METRICS_CERT_DIR: {{ .Values.manager.metrics.certDir }}
  {{- end }}
  {{- end }}
  {{- end }}
  {{- if not .Values.ingress.controller.enabled }}
  ENABLE_INGRESS: "false"
  {{- end }}
  INGRESS_CLASSES: {{ template "ingress.Classes" . }}
  {{- $template404 := get .Values.ingress.templates "404" }}
  {{- if $template404.name }}
  TEMPLATE_404_CONFIG_MAP_NAME: {{ $template404.name }}
  {{- end }}
  {{- if $template404.namespace }}
  TEMPLATE_404_CONFIG_MAP_NAMESPACE: {{ $template404.namespace }}
  {{- end }}
  {{- if or .Values.manager.httpClient.insecureSkipCertVerify .Values.httpClient.insecureSkipCertVerify }}
  HTTP_CLIENT_INSECURE_SKIP_CERT_VERIFY: "true"
  {{- end }}
  HTTP_CLIENT_TIMEOUT_SECONDS: {{ quote .Values.manager.httpClient.timeoutSeconds }}
  {{- if .Values.manager.webhook.enabled }}
  ENABLE_WEBHOOK: "true"
  WEBHOOK_CERT_SECRET_NAME: {{ .Values.manager.webhook.cert.secret.name }}
  WEBHOOK_NAMESPACE: {{ .Release.Namespace }}
  WEBHOOK_SERVICE_NAME: {{ .Values.manager.webhook.service.name }}
  WEBHOOK_SERVICE_PORT: {{ quote .Values.manager.webhook.service.port }}
  {{- if .Values.manager.webhook.admission.checkApiContextPathConflictInCluster }}
  CHECK_API_CONTEXT_PATH_CONFLICT_IN_CLUSTER: "true"
  {{- end }}
  {{- end }}
