# Copyright (C) 2015 The Gravitee team (http://gravitee.io)
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#         http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
    gravitee.io/operator.version: 4.4.23
  name: apiresources.gravitee.io
spec:
  group: gravitee.io
  names:
    kind: ApiResource
    listKind: ApiResourceList
    plural: apiresources
    singular: apiresource
  scope: Namespaced
  versions:
    - name: v1alpha1
      schema:
        openAPIV3Schema:
          properties:
            apiVersion:
              description: |-
                APIVersion defines the versioned schema of this representation of an object.
                Servers should convert recognized schemas to the latest internal value, and
                may reject unrecognized values.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
              type: string
            kind:
              description: |-
                Kind is a string value representing the REST resource this object represents.
                Servers may infer this from the endpoint the client submits requests to.
                Cannot be updated.
                In CamelCase.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
              type: string
            metadata:
              type: object
            spec:
              description: ApiResourceSpec defines the desired state of ApiResource.
              properties:
                configuration:
                  description: Resource Configuration, arbitrary map of key-values
                  type: object
                  x-kubernetes-preserve-unknown-fields: true
                enabled:
                  description: Resource is enabled or not?
                  type: boolean
                name:
                  description: Resource Name
                  type: string
                type:
                  description: Resource Type
                  type: string
              type: object
            status:
              type: object
          type: object
      served: true
      storage: true
      subresources:
        status: {}
