---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.0
  creationTimestamp: null
  name: managementcontexts.gravitee.io
spec:
  group: gravitee.io
  names:
    kind: ManagementContext
    listKind: ManagementContextList
    plural: managementcontexts
    shortNames:
    - graviteecontexts
    singular: managementcontext
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.name
      name: Name
      type: string
    - jsonPath: .spec.baseUrl
      name: BaseUrl
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ManagementContext is the Schema for the Management API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ManagementContext represents the configuration for a Management
              API.
            properties:
              auth:
                properties:
                  bearerToken:
                    type: string
                  credentials:
                    properties:
                      password:
                        type: string
                      username:
                        type: string
                    type: object
                type: object
              baseUrl:
                type: string
              environmentId:
                type: string
              organizationId:
                type: string
            required:
            - auth
            - baseUrl
            type: object
          status:
            description: ManagementContextStatus defines the observed state of ManagementContext
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
